<script>
	import { time } from "./stores/time.js";

	const formatter = new Intl.DateTimeFormat("en", {
		hour12: true,
		hour: "numeric",
		minute: "2-digit",
		second: "2-digit",
	});
</script>

<main class="container">
	<section class="content">
		<p class="title">Svelte + Bulma + Google Closure</p>
		<p class="subtitle">The time is {formatter.format($time)}</p>
		<p class="block">
			This is a template for svelte + google closure compiler+ bulma +
			font awesome
		</p>
	</section>
	<div class="content">
		<p>
			An invitation to
			<span class="icon-text">
				<span class="icon">
					<i class="fas fa-utensils" />
				</span>
				<span>dinner</span>
			</span>
			was soon afterwards dispatched; and already had Mrs. Bennet planned the
			courses that were to do credit to her housekeeping, when an answer arrived
			which deferred it all. Mr. Bingley was obliged to be in
			<span class="icon-text">
				<span class="icon">
					<i class="fas fa-city" />
				</span>
				<span>town</span>
			</span>
			the following day, and, consequently, unable to accept the honour of
			their
			<span class="icon-text">
				<span class="icon">
					<i class="fas fa-envelope-open-text" />
				</span>
				<span>invitation</span>
			</span>, etc.
		</p>

		<p>
			Mrs. Bennet was quite disconcerted. She could not imagine what
			business he could have in town so soon after his
			<span class="icon-text">
				<span class="icon">
					<i class="fas fa-flag-checkered" />
				</span>
				<span>arrival</span>
			</span>
			in Hertfordshire; and she began to fear that he might be always
			<span class="icon-text">
				<span class="icon">
					<i class="fas fa-plane-departure" />
				</span>
				<span>flying</span>
			</span>
			about from one place to another, and never settled at Netherfield as
			he ought to be.
		</p>
	</div>
</main>

<style lang="scss" global>
	@import "./themes/themes.scss";
</style>
